@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-container p {
  margin-bottom: 15px; /* Межпараграфный отступ */
}

.text-container p:last-child {
  margin-bottom: 0; /* Убираем отступ у последнего абзаца */
}

body {
  background-color: #f1f1f9;
  color: #202022;
  height: 100vh;
}

h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 100%;
}
h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 110%;
}
